/*----------PROPIEDADES GENERALES----------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: 'Roboto', sans-serif; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

h1 {
  color: navy;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center; }

h2 {
  color: #fafafb; }

h3 {
  color: darkslategray; }

h4 {
  color: cadetblue; }

p {
  color: #363030;
  font-size: 30px;
  text-align: justify; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*----------PROPIEDADES GENERALES----------*/
body {
  font-family: 'Roboto', sans-serif; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

h1 {
  color: navy;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center; }

h2 {
  color: #fafafb; }

h3 {
  color: darkslategray; }

h4 {
  color: cadetblue; }

p {
  color: #363030;
  font-size: 30px;
  text-align: justify; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header {
  background-color: #03BCC4; }
  header img {
    width: 150px;
    height: 150px; }
  header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 20px; }
    header nav ul li a {
      text-decoration: none;
      color: #16048a;
      font-size: 30px;
      text-align: right;
      font-weight: bold; }
      header nav ul li a:hover {
        color: white; }

/*---PAGINAS DE INDEX Y CONTACTO ---*/
.encabezado {
  background-color: #03BCC4;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .encabezado img {
    width: 200px;
    height: 200px; }

/*---NAV---*/
.menu ul li {
  list-style: none;
  margin: 20px;
  display: flex;
  display: inline-block; }
  .menu ul li a {
    text-decoration: none;
    color: #16048a;
    font-size: 30px;
    font-weight: bold;
    text-align: right; }
    .menu ul li a:hover {
      color: white; }

.hero p {
  padding: 10px;
  text-align: center; }

main {
  background-image: url(../img/welcome.png);
  background-repeat: repeat; }

/*---MAIN DE GRAMMAR---*/
.titulo__grammar {
  width: 100%;
  background-image: linear-gradient(to bottom, #ffff63, white); }
  .titulo__grammar p {
    padding: 10px;
    text-align: center; }
  .titulo__grammar ul {
    justify-content: space-evenly;
    list-style: none;
    margin: 20px; }
    .titulo__grammar ul a {
      text-decoration: none;
      font-size: 30px;
      font-weight: bold;
      list-style: none;
      display: flex;
      display: inline-block; }
      .titulo__grammar ul a p {
        color: #16048a; }

#simplepresent li {
  list-style: none;
  text-align: center;
  background-color: #ffff63;
  margin: 40px;
  border: 2px solid blue; }
  #simplepresent li a {
    text-decoration: none;
    color: #16048a;
    font-size: 30px;
    font-weight: bold; }

#there li {
  list-style: none;
  text-align: center;
  background-color: #ffff63;
  margin: 40px;
  border: 2px solid blue; }
  #there li a {
    text-decoration: none;
    color: #16048a;
    font-size: 30px;
    font-weight: bold; }

#futuro li {
  list-style: none;
  text-align: center;
  background-color: #ffff63;
  margin: 40px;
  border: 2px solid blue; }
  #futuro li a {
    text-decoration: none;
    color: #16048a;
    font-size: 30px;
    font-weight: bold; }

#comparativos li {
  list-style: none;
  text-align: center;
  background-color: #ffff63;
  margin: 40px;
  border: 2px solid blue; }
  #comparativos li a {
    text-decoration: none;
    color: #16048a;
    font-size: 30px;
    font-weight: bold; }

/*---MAIN DE VOCABULARY---*/
.titulo__vocabulary {
  width: 100%;
  background-image: linear-gradient(to bottom, #ffff63, white); }
  .titulo__vocabulary p {
    padding: 10px;
    text-align: center; }
  .titulo__vocabulary ul {
    list-style: none;
    margin: 20px;
    justify-content: space-between;
    text-align: center; }
    .titulo__vocabulary ul a {
      text-decoration: none;
      font-size: 30px;
      font-weight: bold;
      list-style: none;
      display: flex;
      display: inline-block; }
      .titulo__vocabulary ul a p {
        color: #16048a; }

#morfi {
  list-style: none;
  text-align: center; }
  #morfi img {
    margin: 40px;
    border-radius: 10px; }
  #morfi li {
    background-color: #ffff63; }
    #morfi li a {
      text-decoration: none;
      color: #16048a;
      font-size: 30px;
      font-weight: bold; }

#salud {
  list-style: none;
  text-align: center; }
  #salud img {
    margin: 40px;
    border-radius: 10px; }
  #salud li {
    background-color: #ffff63; }
    #salud li a {
      text-decoration: none;
      color: #16048a;
      font-size: 30px;
      font-weight: bold; }

#ciudades {
  list-style: none;
  text-align: center; }
  #ciudades img {
    margin: 40px;
    border-radius: 10px; }
  #ciudades li {
    background-color: #ffff63; }
    #ciudades li a {
      text-decoration: none;
      color: #16048a;
      font-size: 30px;
      font-weight: bold; }

#ciudadesadj {
  list-style: none;
  text-align: center; }
  #ciudadesadj img {
    margin: 40px;
    border-radius: 10px; }
  #ciudadesadj li {
    background-color: #ffff63; }
    #ciudadesadj li a {
      text-decoration: none;
      color: #16048a;
      font-size: 30px;
      font-weight: bold; }

/*---MAIN DE RECURSOS---*/
.titulo__recursos {
  width: 100%;
  background-image: linear-gradient(to bottom, #ffff63, white); }
  .titulo__recursos p {
    padding: 10px;
    text-align: center; }

.subtitulo__recursos {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px; }
  .subtitulo__recursos h2 {
    font-size: xx-large;
    background-color: #ffff63;
    color: #16048a; }

/*---MAIN DE CONTACTOS---*/
.titulo__contacto {
  width: 100%;
  background-image: linear-gradient(to bottom, #ffff63, white); }
  .titulo__contacto p {
    padding: 10px;
    text-align: center; }

.formulario {
  width: 100%;
  background-color: #ffde59;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-items: end; }
  .formulario form {
    width: 80%; }
    .formulario form div {
      width: 100%; }
      .formulario form div p {
        margin: 10px;
        color: #03BCC4; }
      .formulario form div label {
        margin: 10px;
        color: navy; }
      .formulario form div input {
        width: 70%; }
    .formulario form .botonform input {
      background-color: #03989E;
      padding: 3px;
      color: #FFDE59;
      font-size: 20px; }

/*---MAIN DEL INDEX---*/
.principal .boton img {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 35px;
  right: 35px; }

.principal .welcome {
  width: 100%;
  background-image: url(../img/welcome.png);
  background-repeat: repeat h1;
    background-repeat-justify-content: center;
    background-repeat-text-align: center; }

.principal div {
  width: 100%;
  background-color: #FFDE59; }

.principal P {
  padding: 10px;
  text-align: center; }

.principal .unidades {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .principal .unidades div {
    width: 300px;
    height: 450px;
    border: 1px solid gold;
    margin: 0px;
    border-radius: 15px 15px;
    background-color: white; }
    .principal .unidades div h2 {
      padding: 10px;
      font-size: 25px;
      text-align: center; }
    .principal .unidades div img {
      width: 300px;
      height: 300px;
      margin-bottom: 15px;
      border-radius: 15px 15px; }
    .principal .unidades div a {
      background-color: #03989E;
      text-decoration: none;
      padding: 3px;
      color: #FFDE59;
      font-size: 25px;
      margin-top: 10px;
      margin-left: 110px;
      border-radius: 5px 5px;
      justify-content: center; }
      .principal .unidades div a:hover {
        background-color: #03989E;
        text-decoration: none;
        padding: 3px;
        color: white;
        font-size: 35px;
        margin-top: 10px;
        border-radius: 5px 5px;
        justify-content: center; }

/*----------PROPIEDADES GENERALES----------*/
body {
  font-family: 'Roboto', sans-serif; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

h1 {
  color: navy;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center; }

h2 {
  color: #fafafb; }

h3 {
  color: darkslategray; }

h4 {
  color: cadetblue; }

p {
  color: #363030;
  font-size: 30px;
  text-align: justify; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

#pie {
  background-color: #03BCC4;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #pie .logofooter {
    width: 100px;
    height: 100px; }
  #pie div .logoredes {
    width: 100px;
    height: 100px; }

.pie {
  background-color: #03BCC4;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .pie h3 {
    font-size: 20px; }
  .pie div .logofooter {
    width: 130px;
    height: 130px; }
  .pie div .logoredes {
    width: 130px;
    height: 130px; }

.pie__contacto {
  background-color: #03BCC4;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .pie__contacto h3 {
    font-size: 20px; }
  .pie__contacto div .logofooter {
    width: 130px;
    height: 130px; }
  .pie__contacto div .logoredes__contacto {
    width: 130px;
    height: 130px; }

/*---RESPONSIVE MAX WIDTH VOCABULARIO---*/
@media screen and (max-width: 883px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    header nav ul li {
      display: list-item; } }

@media screen and (max-width: 566px) {
  header nav ul li {
    list-style: none;
    margin: 10px; }
  main .titulo__vocabulary h1 {
    font-size: 40px; }
  main .titulo__vocabulary p {
    font-size: 20px; }
  .container-fluid .row .col-lg-6 #morfi img {
    width: 200px;
    height: 200px; }
  .container-fluid .row .col-lg-6 #salud img {
    width: 200px;
    height: 200px; }
  .container-fluid .row .col-lg-6 #ciudades img {
    width: 200px;
    height: 200px; }
  .container-fluid .row .col-lg-6 #ciudadesadj img {
    width: 200px;
    height: 200px; }
  #pie div .logoredes {
    width: 50px;
    height: 50px; }
  #pie div .logofooter {
    width: 50px;
    height: 50px; } }

/*---RESPONSIVE MAX WIDTH GRAMMAR---*/
@media screen and (max-width: 566px) {
  main .titulo__grammar h1 {
    font-size: 40px; }
  main .titulo__grammar ul {
    display: flex;
    flex-direction: column; }
  #simplepresent li a {
    font-size: 20px; }
  #there li a {
    font-size: 20px; }
  #futuro li a {
    font-size: 20px; }
  #comparativos li a {
    font-size: 20px; } }

/*---RESPONSIVE MAX WIDTH RECURSOS---*/
@media screen and (max-width: 530px) {
  #diccionariosimg {
    width: 200px;
    height: 200px; } }

/*---RESPONSIVE MAX WIDTH INDEX---*/
@media screen and (max-width: 1006px) {
  .menu ul li a {
    font-size: 20px;
    flex-direction: column; } }

@media screen and (max-width: 921px) {
  .encabezado img {
    width: 150;
    height: 150; }
  .boton img {
    display: none; }
  .menu ul li a {
    font-size: 20px; }
  .pie div .logofooter {
    width: 75px;
    height: 75px; }
  .pie div .logoredes {
    width: 75px;
    height: 75px; } }

@media screen and (max-width: 906px) {
  .encabezado img {
    width: 100px;
    height: 100px; }
  .welcome h1 {
    justify-content: center;
    text-align: center;
    font-size: 40px; }
  .welcome p {
    padding: 10px;
    text-align: center;
    font-size: 20px; }
  .principal h1 {
    text-align: center; }
  .principal p {
    padding: 10px;
    text-align: center; }
  .principal .unidades {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .principal .unidades div {
    width: 200px;
    height: 300px;
    border: 1px solid gold;
    margin: 0px;
    border-radius: 15px 15px;
    background-color: white; }
  .principal .unidades h2 {
    padding: 5px;
    font-size: 15px;
    text-align: center; }
  .principal .unidades div img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px 10px; }
  .principal .unidades div a {
    background-color: #03989E;
    text-decoration: none;
    padding: 3px;
    color: #FFDE59;
    font-size: 15px;
    margin-top: 45px;
    margin-left: 65px;
    border-radius: 5px 5px;
    justify-content: center; } }

@media screen and (max-width: 746px) {
  .encabezado img {
    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center; }
  p {
    display: none; } }

@media screen and (max-width: 376px) {
  .encabezado img {
    display: none; }
  .pie div .logofooter {
    width: 50px;
    height: 50px; }
  .pie div .logoredes {
    width: 50px;
    height: 50px; }
  .pie h3 {
    font-size: 10px; } }

/*----RESPONSIVE DE CONTACTO ---*/
@media screen and (max-width: 566px) {
  main .titulo__contacto h1 {
    font-size: 40px; }
  main .titulo__contacto ul {
    display: flex;
    flex-direction: column; }
  .titulo__contacto {
    display: none; }
  .menu ul li a {
    font-size: 15px;
    display: flex;
    flex-direction: column; }
  .logoredes__contacto {
    width: 50px;
    height: 50px; } }

@media screen and (max-width: 453px) {
  .logofooter {
    display: none; } }

@media screen and (max-width: 352px) {
  .pie__contacto h3 {
    display: none; } }
