/*----------PROPIEDADES GENERALES----------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
body {
  font-family: 'Roboto', sans-serif; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

h1 {
  color: navy;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center; }

h2 {
  color: #fafafb; }

h3 {
  color: darkslategray; }

h4 {
  color: cadetblue; }

p {
  color: #363030;
  font-size: 30px;
  text-align: justify; }

/*---PAGINAS QUE NO TIENEN GRID--*/
header {
  background-color: #03BCC4;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header img {
    width: 150px;
    height: 150px; }
  header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 20px; }
    header nav ul li a {
      text-decoration: none;
      color: #16048a;
      font-size: 30px;
      text-align: left;
      font-weight: bold; }

/*---MAIN DE LOS QUE NO TIENEN GRID---*/
.hero p {
  padding: 10px;
  text-align: center; }

main {
  background-image: url(../img/welcome.png);
  background-repeat: repeat; }

.titulo__grammar {
  width: 100%;
  background-image: linear-gradient(to bottom, #ffff63, white); }
  .titulo__grammar p {
    padding: 10px;
    text-align: center; }
  .titulo__grammar ul {
    justify-content: space-evenly;
    list-style: none;
    margin: 20px; }
    .titulo__grammar ul a {
      text-decoration: none;
      font-size: 30px;
      font-weight: bold;
      list-style: none;
      display: flex;
      display: inline-block; }
      .titulo__grammar ul a p {
        color: blue; }

#simplepresent li {
  list-style: none;
  background-color: #ffff63;
  text-align: center;
  margin: 40px; }
  #simplepresent li a {
    text-decoration: none;
    color: #16048a;
    font-size: 30px;
    font-weight: bold; }

#there li {
  list-style: none;
  background-color: #ffff63;
  text-align: center;
  margin: 40px; }
  #there li a {
    text-decoration: none;
    color: #16048a;
    font-size: 30px;
    font-weight: bold; }

#futuro li {
  list-style: none;
  background-color: #ffff63;
  text-align: center;
  margin: 40px; }
  #futuro li a {
    text-decoration: none;
    color: #16048a;
    font-size: 30px;
    font-weight: bold; }

#comparativos li {
  list-style: none;
  background-color: #ffff63;
  text-align: center;
  margin: 40px; }
  #comparativos li a {
    text-decoration: none;
    color: #16048a;
    font-size: 30px;
    font-weight: bold; }

#pie {
  background-color: #03BCC4;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #pie .logofooter {
    width: 100px;
    height: 100px; }
  #pie div .logoredes {
    width: 100px;
    height: 100px; }
