@import "../base/generales";
@import "../base/variables";
@import "../base/mapas";
@import "../base/mixin";
#pie {
    background-color: nth($list: $colores, $n:1 );
    margin: 0px;
    @include flex (flex, space-around, center);
    .logofooter {
        width: 100px;
        height: 100px;
    }
    div {
        .logoredes {
            width: 100px;
            height: 100px;
        }
    }
}