@import "../base/generales";
@import "../base/variables";
@import "../base/mapas";
@import "../base/mixin";
#pie {
    background-color: nth($list: $colores, $n:1 );
    margin: 0px;
    @include flex (flex, space-around, center);
    .logofooter {
        width: 100px;
        height: 100px;
    }
    div {
        .logoredes {
            width: 100px;
            height: 100px;
        }
    }
}

/*---FOOTER DE PÁGINAS CON GRID---*/
.pie {
    background-color: #03BCC4;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h3{font-size: 20px;
    }
    div {
        .logofooter {
            width: 130px;
            height: 130px;
        }
        .logoredes {
            width: 130px;
            height: 130px;
        }
    }
}
.pie__contacto {
    background-color: #03BCC4;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h3{font-size: 20px;
    }
    div {
        .logofooter {
            width: 130px;
            height: 130px;
        }
        .logoredes__contacto {
            width: 130px;
            height: 130px;
        }
    }
}



