/*---PAGINAS QUE NO TIENEN GRID--*/
@import "../base/generales";
@import "../base/variables";
@import "../base/mapas";

header {
    background-color:nth($colores, $n:1 );
    @extend %flex;
    

    img {
        width: 150px;
        height: 150px;

    }

    nav {
        ul {
            li {
                list-style: none;
                display: inline-block;
                margin: 20px;

                a {
                    text-decoration: none;
                    color: nth($list: $colores, $n:3 );
                    font-size: 30px;
                    text-align: left;
                    font-weight: bold;
                    &:hover {
                        color: nth($colores, 8 );
                    }

                }
            }
        }
    }

}
