/*----------PROPIEDADES GENERALES----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import "./variables";



body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1 {
    color: nth($colores, 2);
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
    color: nth($colores, 4);
}

h3 {
    color: nth($colores, 5)
}

h4 {
    color: nth($colores, 6)
}

p {
    color: nth($colores, 7);
    font-size: 30px;
    text-align: justify;
}

//* extends
%flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
